.section-benefits {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;

        gap: 30px;

        list-style-type: none;
    }

    &__svg-benefits {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;

        border-radius: 4px;
        height: 120px;

        background-color: var(--subbackground-color);
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__subtitle {
        margin-bottom: 10px;

        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;

        text-transform: uppercase;
        color: var(--main-color);
    }

    &__text {
        line-height: 1.71;

        color: var(--secondary-color);
    }
}