.team-socialweb {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;

    list-style-type: none;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        border-color: transparent;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

       
    }
    &__link:hover {
        background-color: var(--link-color);
        border-radius: 50%;
    }
}

.socialweb-item {
    cursor: pointer;

    &:focus,
    &:hover {
        color: var(--link-color);
    }
}

.team-socialweb__item {
    width: 44px;
    height: 44px;

    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
        color: var(--link-color);
    }

    &:hover .team-socialweb__logo,
    &:focus .team-socialweb__logo {
        fill: var(--white-color);
    }
}

.team-socialweb__logo {
    width: 20px;
    height: 20px;

    fill: var(--subborder-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        fill: var(--white-color);
        background-color: var(--link-color);
    }
}