:root {
    --main-color: #212121;
    --secondary-color: #757575;
    --link-color: #2196f3;
    --secondarylink-color: #2196f3e6;
    --background-color: #2f303a;
    --white-color: #ffffff;
    --subbackground-color: #f5f4fa;
    --border-color: #ececec;
    --subborder-color: #afb1b8;
    --backgroundminilogo-color: #ffffff1a;
    --backdrop-color: #00000033;
    --backgroundtext-color: #30313bcc;
    --navlink-color: #ffffff99;
    --input-border-color: #ffffff4d;
}